* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #eed379, #ff8765);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: rgb(0, 136, 68);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background:  rgb(0, 136, 68);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;

}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.todo li {
    flex: 1;
}
.trash-btn, .complete-btn {
    background: crimson;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: green;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.trash-btn:hover {
    color: crimson;
    background: white;
    transition: all 0.5s ease;
}

.complete-btn:hover{
    color: green;
    background: white;
    transition: all 0.5s ease;
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotate(120deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    
}
select {
    color: red;
    width: 12rem;
    cursor: pointer;
    padding: 1rem;   
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.select:hover::after {
    color: red ;
    background: white;
}
